@use './shared.module.scss' as *;

.list {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px;
    margin-top: 0;
}

.listItem {
    text-decoration: none;
    cursor: pointer;
    position: relative;
    padding: 10px;
    margin-top: 5px;
    background: $bg-color-superlight-blue;
    border-radius: 5px;
    transition: 0.2s;
    color: black;
}

.itemDetails{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3px;
}

.listWrapper{
    margin: 15px;
    width: 30%;
    box-shadow: 1px 1px 2px $bg-color-grey;
    border-radius: 5px;
    padding: 5px;
}