@use './shared.module.scss' as *;

.message{
    display: flex;
    z-index: 2000;
    top: 40%;
    left: 40%;    
    position: fixed;
    padding: 20px;
    grid-row: 1/3;
    flex-direction: column;
    align-items: center;
    white-space: pre-line;
    background-color: $main-color-white;
    border-radius: 15px;
}

.none{
    display: none !important;
}
