$main-color-white: #ffffff;
$transpered-white: rgba(255, 255, 255, 0.6);
$bg-color-light-blue: #bcc4d4;
$bg-color-superlight-blue: #d5ddeb;
$bg-color-blue: #97a8c9;
$bg-color-mid-blue: #576b8f;
$bg-color-dark-blue: #45526b;
$bg-color-grey: #474d59;

.wrapper{
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding: 40px;
    background-color: $main-color-white;
    border-radius: 15px;
    box-shadow: 4px 4px 8px $bg-color-grey;
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 15px;
    margin-bottom: 2px;
}

.button{
    size: "6x";
    color: #45526b;
    margin: 5px;
}

span{
    color: #45526b;
    font-weight: bold; 
    margin-right: 10px;
    white-space: pre;
}

.link{
    cursor: pointer;
    color: black;
}

.record{
    margin: 15px;
    display: flex;
    align-items: center;
}

input, select {
    margin: 0;
    width:  100%;
    overflow: hidden;
    transition-duration: 0.4s;
    border: 2px solid $bg-color-dark-blue;
    border-radius: 5px;
    padding: 10px;    
}

body{
    background-color: $bg-color-blue;
}